{% extends 'broker/pages/base.html' %}
{% load static %}
{% block hero-section %}

<div class="Optimal-breadcrumb-section">
    <div class="container">
      <div class="breadcrumbs">
        <h1 class="wow fadeInUpX" data-wow-delay="0s">Faq</h1>
        <nav aria-label="breadcrumb" class="wow fadeInUpX" data-wow-delay="0.15s">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Faq</li>
          </ol>
        </nav>
      </div>

    </div>
    <div class="Optimal-shape8">
      <img src="assets/images/shape/shape7.png" alt="">
    </div>
    <div class="Optimal-shape9">
      <img src="assets/images/shape/shape8.png" alt="">
    </div>
  </div>
  <!-- End breadcrumb -->

{% endblock hero-section %}
    

{% block client-section %}

<div class="section Optimal-section-padding2">
    <div class="container">
      <div class="Optimal-section-title">
        <h2>Ask any questions related to our services or products</h2>
      </div>
      <div class="Optimal-tab-menu">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="Optimal-tabs1" data-bs-toggle="tab" data-bs-target="#Optimal-tab1" type="button" role="tab" aria-controls="Optimal-tab1" aria-selected="true">General Question </button>
          <button class="nav-link" id="Optimal-tabs2" data-bs-toggle="tab" data-bs-target="#Optimal-tab2" type="button" role="tab" aria-controls="Optimal-tab2" aria-selected="false">Account & Support </button>
          <!-- <button class="nav-link" id="Optimal-tabs3" data-bs-toggle="tab" data-bs-target="#Optimal-tab3" type="button" role="tab" aria-controls="Optimal-tab3" aria-selected="false">Returns Policy</button> -->
          <!-- <button class="nav-link" id="Optimal-tabs4" data-bs-toggle="tab" data-bs-target="#Optimal-tab4" type="button" role="tab" aria-controls="Optimal-tab4" aria-selected="false">Technical Methods</button> -->
        </div>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="Optimal-tab1" role="tabpanel" aria-labelledby="Optimal-tabs1">
          <div class="row">
            <div class="col-lg-6">
              <div class="nexto-accordion-one" id="accordionExample1">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Q. What is cryptocurrency in general?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Q. What is forex?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                      Foreign exchange, or forex, is the global market of the world’s currencies, where the values of different currencies are pitted against each other in the form of forex pairs, such as EUR/USD, AUD/JPY, etc. The forex market determines the exchange rates of each currency.                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Q. What are stock indices?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                      Stock indices measure the value of a group of companies in the stock market. This allows investors to see how a particular set of assets is performing.                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Q. What are digital options?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                      Digital options allow you to predict the price movement of underlying assets without actually owning them. With digital options, you open a position based on your prediction, with a set duration that closes your position automatically. You'll earn a profit if your position is closed when the price is in your favour.                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="nexto-accordion-one two" id="accordionExample2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Q. How do I sign up as an affiliate?
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      Complete this form, and we'll get in touch with you in a couple of days, You'll need a real Optimal Trade trading account, too. If you don't have one then sign up                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      Q. Is Optimal Trade Fx regulated?
                    </button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                        Optimal Trade is regulated by several entities including the Malta Financial Services Authority (MFSA), the Labuan Financial Services Authority (Labuan FSA), the Vanuatu Financial Services Commission (VFSC), and the British Virgin Islands Financial Services Commission, amongst many other regulator worldwide.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      Q. How do I Withdrawal my earnings?
                    </button>
                  </h2>
                  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      You and easily Withdraw profit using any of your preferred method, we have provided you with a lot of options.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      Q. Will my data and information be safe?
                    </button>
                  </h2>
                  <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      We have put in place several measures to ensure your complete safety and total security of your personal data.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="Optimal-tab2" role="tabpanel" aria-labelledby="Optimal-tabs2">
          <div class="row">
            <div class="col-lg-6">
              <div class="nexto-accordion-one" id="accordionExample3">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                      Q. What is cryptocurrency in general?
                    </button>
                  </h2>
                  <div id="collapseNine" class="accordion-collapse collapse show" aria-labelledby="headingNine" data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                      Q. What other types of cryptocurrency are out there?
                    </button>
                  </h2>
                  <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingEleven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                      Q. What can you buy with cryptocurrency, and how?
                    </button>
                  </h2>
                  <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="nexto-accordion-one two" id="accordionExample4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                      Q. Will my data and information be safe?
                    </button>
                  </h2>
                  <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading13">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                      Q. What regulation and requirements govern bitcoin?
                    </button>
                  </h2>
                  <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading14">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                      Q. What is the biggest problem with cryptocurrency?
                    </button>
                  </h2>
                  <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="Optimal-tab3" role="tabpanel" aria-labelledby="Optimal-tabs3">
          <div class="row">
            <div class="col-lg-6">
              <div class="nexto-accordion-one" id="accordionExample5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading15">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                      Q. What is cryptocurrency in general?
                    </button>
                  </h2>
                  <div id="collapse15" class="accordion-collapse collapse show" aria-labelledby="heading15" data-bs-parent="#accordionExample5">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading16">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                      Q. What other types of cryptocurrency are out there?
                    </button>
                  </h2>
                  <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordionExample5">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="nexto-accordion-one two" id="accordionExample6">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading17">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                      Q. Will my data and information be safe?
                    </button>
                  </h2>
                  <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#accordionExample6">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading18">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                      Q. What regulation and requirements govern bitcoin?
                    </button>
                  </h2>
                  <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18" data-bs-parent="#accordionExample6">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="Optimal-tab4" role="tabpanel" aria-labelledby="Optimal-tabs4">
          <div class="row">
            <div class="col-lg-6">
              <div class="nexto-accordion-one" id="accordionExample7">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading19">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="true" aria-controls="collapse19">
                      Q. What is cryptocurrency in general?
                    </button>
                  </h2>
                  <div id="collapse19" class="accordion-collapse collapse show" aria-labelledby="heading19" data-bs-parent="#accordionExample7">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading20">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                      Q. What other types of cryptocurrency are out there?
                    </button>
                  </h2>
                  <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="heading20" data-bs-parent="#accordionExample7">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading21">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                      Q. What can you buy with cryptocurrency, and how?
                    </button>
                  </h2>
                  <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="heading21" data-bs-parent="#accordionExample7">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="nexto-accordion-one two" id="accordionExample8">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading22">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                      Q. Will my data and information be safe?
                    </button>
                  </h2>
                  <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22" data-bs-parent="#accordionExample8">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading23">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
                      Q. What regulation and requirements govern bitcoin?
                    </button>
                  </h2>
                  <div id="collapse23" class="accordion-collapse collapse" aria-labelledby="heading23" data-bs-parent="#accordionExample8">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading24">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
                      Q. What is the biggest problem with cryptocurrency?
                    </button>
                  </h2>
                  <div id="collapse24" class="accordion-collapse collapse" aria-labelledby="heading24" data-bs-parent="#accordionExample8">
                    <div class="accordion-body">
                      A cryptocurrency is a digital currency, which is an alternative form of payment created using encryption algorithms.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End faq section -->
{% endblock client-section %}


{% block features %}

{% endblock features %}


{% block nft %}

  <!-- End section -->

{% endblock nft %}


{% block try-section %}
    

{% endblock try-section %}

{% block apps-section %}{% endblock apps-section %}


{% block testimonail %}{% endblock testimonail %}


{% block cta-section %}

{% endblock cta-section %}
  


  
  

    
    

 
