{% extends 'broker/pages/base.html' %}
{% load static %}
{% block hero-section %}

<div class="Optimal-breadcrumb-section">
    <div class="container">
      <div class="breadcrumbs">
        <h1 class="wow fadeInUpX" data-wow-delay="0s">Our Service</h1>
        <nav aria-label="breadcrumb" class="wow fadeInUpX" data-wow-delay="0.15s">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Our Service</li>
          </ol>
        </nav>
      </div>

    </div>
    <div class="Optimal-shape8">
      <img src="{% static 'assets/images/shape8.png' %}" alt="">
    </div>
    <div class="Optimal-shape9">
      <img src="{% static 'assets/images/shape8.png' %}" alt="">
    </div>
  </div>
  <!-- End breadcrumb -->
{% endblock hero-section %}
    

{% block client-section %}
  
<div class="Optimal-innovative-services-section">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 offset-xxl-1 order-lg-2">
          <div class="Optimal-innovative-services-thumb wow fadeInUpX">
            <img src="{% static 'assets/images/thumb.png' %}" alt="">
          </div>
        </div>
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-10 d-flex align-items-center">
          <div class="Optimal-default-content">
            <h2>Trade on Finnexglobecon</h2>
            <p>Learn about the markets that you can trade online with Finnexglobecon, including forex, synthetic indices, stocks & indices, cryptocurrencies, basket indices, and commodities.</p>
            <p>CFD trading allows you to trade on the price movement of an asset without buying or owning the underlying asset.Options trading allows for fixed payouts from correctly predicting market movements, without needing to buy an underlying asset. Multipliers allow you to trade on leverage while limiting downside risk to your investment. You can maximise your potential profit by several multiples of any market movement without risking more than your initial investment.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End section -->

  <div class="section Optimal-section-padding3">
    <div class="container">
      <div class="Optimal-section-title">
        <h2>Why choose us</h2>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="Optimal-iconbox-wrap Optimal-iconbox-wrap5 wow fadeInUpX" data-wow-delay="0s">
            <div class="Optimal-iconbox-icon">
              <img src="{% static 'assets/images/icon1.png' %}" alt="">
            </div>
            <div class="Optimal-iconbox-data">
              <h4>Industry-leading security</h4>
              <p>256 bit symmetric world class key encryption for both wallet & tranactions.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="Optimal-iconbox-wrap Optimal-iconbox-wrap5 wow fadeInUpX" data-wow-delay=".10s">
            <div class="Optimal-iconbox-icon">
              <img src="{% static 'assets/images/icon2.png' %}" alt="">
            </div>
            <div class="Optimal-iconbox-data">
              <h4>Fast Withdrawals</h4>
              <p>Choose form a wide range of options to cash out, Withdrawing your profits is as easy as a tap of a button.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="Optimal-iconbox-wrap Optimal-iconbox-wrap5 wow fadeInUpX" data-wow-delay=".20s">
            <div class="Optimal-iconbox-icon">
              <img src="{% static 'assets/images/icon3.png' %}" alt="">
            </div>
            <div class="Optimal-iconbox-data">
              <h4>Bitcoin Cloud Mining</h4>
              <p>Let's do the heavy lifting for you, with our high speed cloud minnng guaranteed to providing you the best ROI.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="Optimal-iconbox-wrap Optimal-iconbox-wrap5 wow fadeInUpX" data-wow-delay=".30s">
            <div class="Optimal-iconbox-icon">
              <img src="{% static 'assets/images/icon4.png' %}" alt="">
            </div>
            <div class="Optimal-iconbox-data">
              <h4>Crime insurance against theft</h4>
              <p>Crime insurance protects a company from loss of money, securities, inventory from fraud events.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="Optimal-iconbox-wrap Optimal-iconbox-wrap5 wow fadeInUpX" data-wow-delay=".40s">
            <div class="Optimal-iconbox-icon">
              <img src="{% static 'assets/images/icon5.png' %}" alt="">
            </div>
            <div class="Optimal-iconbox-data">
              <h4>Watch and analyze charts</h4>
              <p>Stay Informed with a simple yet intutive and fully customisable dashboard.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="Optimal-iconbox-wrap Optimal-iconbox-wrap5 wow fadeInUpX" data-wow-delay=".50s">
            <div class="Optimal-iconbox-icon">
              <img src="{% static 'assets/images/icon6.png' %}" alt="">
            </div>
            <div class="Optimal-iconbox-data">
              <h4>Invest in real time</h4>
              <p>Invest in cryptocurrencies, forex, stocks and even NFT's in real time with our highly avanced platform</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- End services section -->
{% endblock client-section %}


{% block features %}

{% endblock features %}


{% block nft %}

  <!-- End section -->

{% endblock nft %}


{% block try-section %}
    

{% endblock try-section %}

{% block apps-section %}{% endblock apps-section %}


{% block testimonail %}{% endblock testimonail %}


{% block cta-section %}

{% endblock cta-section %}
  


  
  

    
    

 
