{% extends 'account/users/dashboard.html' %}



{% block side-panel-right %}
    
{% endblock side-panel-right %}
    
  
  {% block trading_view %}
    
  {% endblock trading_view %}



{% block main %}
{% load static  %}

<div class="fixed-width"><br><br><br>
    <div style='padding: 5px; background: orange; font-size: 12px; border-radius: 3px;'><i class='fa fa-info-circle'></i> Complete your account info. <a href='withdrawal_info.html' style='color: white'><b>Click Here</b></a></div><br>
    <script>
        $(".select7").select7();
    </script>
<style>
.container {
    padding: 15px;
    background: var(--dark-blue);
    border-radius: 5px;
    color: var(--text-color);
}
form input, select {
    padding: 10px; 
    border-radius: 3px;
    border: 1px solid var(--hover);
    display: block;
    width: 100%;
    background: var(--primary);
    color: var(--text-color);
    margin: 10px 0;
    font-size: 12px;
}
form label {
    margin: 20px 0;
    font-size: 14px;
}
form button, #pbtn {
    background: dodgerblue;
    padding: 9px 15px;
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    margin: 5px 0;
}
#dol {
    position: absolute; 
    right: 40px; 
    transform: translateY(-38px); 
    z-index: 1; 
    width: 24px; 
    height: 23px; 
    border-radius: 50%; 
    background: var(--primary); 
    color: var(--text);
}
#bit, #ethereum, #bank, #cashapp, #amt {
    display: none;
}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}
</style>


<style>
    @media screen and (min-width: 768px) {
        .fixed-width {
            width: 100%;
            margin: 0 0%;
        }
        
        .side-panel-right {
            display: none;
            width: 30%;
        }
    }

    @media screen and (min-width: 1200px) {
        .fixed-width {
            width: 80%;
            transform: translateX(5%);
            margin: 0 15%;
        }

        .side-panel-left {
            width: 20%;
            display: block;
        }
    }
</style>

<div class="container">
<center><div id="loader" style='display: none'><img src="{% static 'assets/images/loader.svg' %}" width="70px" style=' z-index: 9999999'></div></center><br><br>
<center><div><img src="images/paypal.html" id='icon' style='display: none' width="70px" ></div></center>

    <h4>Withdrawal</h4><br>
        <form action="#" method="post">

            {% csrf_token %}
            {{ form }}

        <button type="submit">withdraw</button>
    </form>
</div>



<script>
var error = document.getElementById('error');

if (error.textContent == 'empty') {
     swal("ERROR!", "Input's cannot be empty!", "warning");
}else if (error.textContent == "insufficient") {
    swal("ERROR!", "Insufficient Funds", "warning");
}else if (error.textContent == 'minimum') {
    swal("ERROR!", "Minimum withdrawal is $1,000.00", "warning");        
}else if (error.textContent == 'pin') {
    swal("ERROR!", "Incorrect Withdrawal Pin", "warning");        
} else if (error.textContent == "success") {
    swal("SUCCESS!", "Your Withdrawal of $ is been processed. You will be notified when the withdrawal is completed", "success");        
    setTimeout(() => {
        window.location.href = 'trade-history.html'
    }, 3000);
}else if (error.textContent == "error") {
    swal("ERROR!", "Sorry an error occurred. Please try again later", "warning");        
}

</script>


<div id="mode" style='display: none'></div>
</div>

<div id="random_count" style='display: none'></div>


<script>

// get current btc rate
var btc = document.querySelectorAll('.btc')
for (let i = 0; i < btc.length; i++) {
    var url = 'https://blockchain.info/tobtc?currency=USD&amp;value='
    fetch(url)
        .then(response => response.json())
        .then(data => console.log(btc[i].textContent = data));
}
// get current btc rate end

// dark/light mode toggle
var mode = document.getElementById('mode');
if (mode.textContent == "light") {
    root.classList.add('dark-mode')
} else if (mode.textContent == "dark") {
    root.classList.remove('dark-mode')
}
// dark/light mode toggle end

var trade_button = document.querySelectorAll('.trade_button');
var trade_amount = document.getElementById('trade_amount');
var trade_pair = document.getElementById('trade_pair');
var trade_pair1 = document.getElementById('trade_pair_one');
var trade_pair2 = document.getElementById('trade_pair_two');
var trade_pair3 = document.getElementById('trade_pair_three');

var trade_pair_v1 = document.getElementById('trade_pair_one_v');
var trade_pair_v2 = document.getElementById('trade_pair_two_v');
var trade_pair_v3 = document.getElementById('trade_pair_three_v');

var account_type = document.getElementById('account_type');
var loader_img = document.getElementById('loader_img');
var random_count = document.getElementById('random_count');
var ac_item = document.getElementById('ac_item');
var ac_name = document.getElementById('ac_name');
var ac_price = document.getElementById('ac_price');
var type_exe = document.getElementById('type_exe');
var stop_loss = document.getElementById('stop_loss');
var take_profit = document.getElementById('take_profit');


var x = Math.random()*2;
var y = Math.floor(x);
random_count.textContent = y

account_type.addEventListener('change', function () {
    if (account_type.value == 'demo') {
        ac_item.style.display = 'block'
        ac_name.textContent = 'Demo Account'
        ac_price.textContent = '100,000.00'
        if (trade_pair1.value == "" && trade_pair2.value == "" && trade_pair3.value == "" && trade_amount.value == "") {
            swal("ERROR!", "Input's cannot be empty", "warning");
        }else {
            for (let i = 0; i < trade_button.length; i++) {
                trade_button[i].addEventListener('click', function () {
                    if (trade_amount.value == "") {
                        alert("Input's cannot be empty")
                    }else {
                        loader_img.style.display = 'block'
                    setTimeout(() => {
                        loader_img.style.display = 'none'
                        if (random_count.textContent == 0) {
                            swal("Trade Status!", "Trade Won", "success");  
                            setTimeout(() => {
                                window.location.href = 'index.html'
                            }, 3000);                              
                        }else {
                            swal("Trade Status!", "Trade Loss", "error");
                            setTimeout(() => {
                                window.location.href = 'index.html'
                            }, 3000);                              
                        }
                    }, 3000);

                    }
                })
            }
        }
    }else {
for (let i = 0; i < trade_button.length; i++) {
        ac_item.style.display = 'block'
        ac_name.textContent = 'Real Account'
        ac_price.textContent = '0.00'

    trade_button[i].addEventListener('click', function () {
        if (trade_pair1.value == "" && trade_pair2.value == "" && trade_pair3.value == "" && trade_amount.value == "") {
            swal("ERROR!", "Input's cannot be empty", "warning");
        } else {
            var xhr = new XMLHttpRequest();
            var data = new FormData();
            data.append('trade_pair', trade_pair.value)
            data.append('pair', trade_pair_one_v.value)
            data.append('pair2', trade_pair_two_v.value)
            data.append('pair3', trade_pair_three_v.value)
            data.append('trade_amount', trade_amount.value)
            data.append('trade_pair', trade_pair.value)
            data.append('type_exe', type_exe.value)
            data.append('stop_loss', stop_loss.value)
            data.append('take_profit', take_profit.value)
            xhr.onreadystatechange = function () {
                if (xhr.responseText == 'minimum') {
                    swal("INFO!", "Minimum Trade is 100 USD", "info");                        
                }else if (xhr.responseText == 'insufficient') {
                    swal("ERROR!", "Insufficient Balance", "warning");
                }else if (xhr.responseText == 'success') {
                    trade_button[i].disabled = true
                 swal("SUCCESS!", "Your Trade Request was successful", "success");
                 setTimeout(() => {
                     window.location.href = 'index.html'
                 }, 3000);
                }
            }
            xhr.open('POST.html', '../database/trade_script.html', true);
            xhr.send(data);
            // swal("INFO!", "Unable to complete trade at this time", "info");
        }
    })
    
    trade_pair.addEventListener('change', function () {
        if (trade_pair.value == 'cryptocurrency') {
            trade_pair1.style.display = 'block'
            trade_pair2.style.display = 'none'
            trade_pair3.style.display = 'none'
            for (let i = 0; i < trade_button.length; i++) {
                trade_button[i].addEventListener('click', function () {
                    if (trade_pair1.value == "" && trade_amount.value == "") {
                        swal("ERROR!", "Input's cannot be empty", "warning");
                    } 
                    else {
                        // swal("INFO!", "Unable to complete trade at this time", "info");
                    }
                })
            }
        } else if (trade_pair.value == 'stock') {
            trade_pair1.style.display = 'none'
            trade_pair2.style.display = 'block'
            trade_pair3.style.display = 'none'
        } else if (trade_pair.value == 'indices') {
            trade_pair1.style.display = 'none'
            trade_pair2.style.display = 'none'
            trade_pair3.style.display = 'block'
            }
        })
    }
}
})

</script>
</body>

</html>
    
{% endblock main %}


<div class="fixed-width"><br><br><br>
    <div style='padding: 5px; background: orange; font-size: 12px; border-radius: 3px;'><i class='fa fa-info-circle'></i> Complete your account info. <a href='withdrawal_info.html' style='color: white'><b>Click Here</b></a></div><br>
    <script>
        $(".select7").select7();
    </script>
<style>
.container {
    padding: 15px;
    background: var(--dark-blue);
    border-radius: 5px;
    color: var(--text-color);
}
form input, select {
    padding: 10px; 
    border-radius: 3px;
    border: 1px solid var(--hover);
    display: block;
    width: 100%;
    background: var(--primary);
    color: var(--text-color);
    margin: 10px 0;
    font-size: 12px;
}
form label {
    margin: 20px 0;
    font-size: 14px;
}
form button, #pbtn {
    background: dodgerblue;
    padding: 9px 15px;
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    margin: 5px 0;
}
#dol {
    position: absolute; 
    right: 40px; 
    transform: translateY(-38px); 
    z-index: 1; 
    width: 24px; 
    height: 23px; 
    border-radius: 50%; 
    background: var(--primary); 
    color: var(--text);
}
#bit, #ethereum, #bank, #cashapp, #amt {
    display: none;
}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}
</style>


<style>
    @media screen and (min-width: 768px) {
        .fixed-width {
            width: 100%;
            margin: 0 0%;
        }
        
        .side-panel-right {
            display: none;
            width: 30%;
        }
    }

    @media screen and (min-width: 1200px) {
        .fixed-width {
            width: 80%;
            transform: translateX(5%);
            margin: 0 15%;
        }

        .side-panel-left {
            width: 20%;
            display: block;
        }
    }
</style>

<div class="container">
<center><div id="loader" style='display: none'><img src="../images/loader.svg" width="70px" style=' z-index: 9999999'></div></center><br><br>
<center><div><img src="images/paypal.html" id='icon' style='display: none' width="70px" ></div></center>

    <h4>Withdrawal</h4><br>
        <form action="#" method="post">

    <div id="list_content">
    <label for="">Select Balance Type</label>
    <select name="balance_type" id="balance_type" required>
        <option value=""></option>
        <option value="capital_balance">Capital Balance ($0.00)</option>
        <option value="profit_balance">Profit Balance ($0.00)</option>
        <option value="bonus_balance">Bonus Balance ($0.00)</option>
    </select><br>

        <label for="">Select Assets</label>
        <select name="" id="select_button">
            <option value="">Select Withdrawal Method</option>
            <option value="bitcoin">Bitcoin</option>
            <option value="eth">Ethereum</option>
            <option value="bank">Bank Transfer</option>
            <option value="paypal">Paypal</option>
            <option value="cashapp">Cashapp</option>
        </select>

    <div id="bitcoin">
        <label for="">Bitcoin Address</label>
        <input type="text" name='wallet_address' id='bito' value=""><br>

    </div>

    <div id="ethereum">
        <label for="">Ethereum Address</label>
        <input type="text" name='eth_address' id='etho' value=""><br>
        
    </div>

    <div id="bank">
        <label for="">Account Number</label>
        <input type="text" name='account_number' id='acn' value=""><br>

        <label for="">Account Name</label>
        <input type="text" name='account_name' id='aca' value=""><br>

        <label for="">Bank Name</label>
        <input type="text" name='bank_name' value=""><br>

        <label for="">Swift Code</label>
        <input type="text" name='swift_code' id='swf' value=""><br>

    </div>

    <div id="cashapp">
        <label for="">Cashapp Tag</label>
        <input type="text" name='cashapp' id='cash'  value=""><br>
    </div>
    
    <div id="paypal">
        <label for="">Paypal Email</label>
        <input type="text" name='paypal' id='cash'  value=""><br>
    </div>

    <div id="amt">
        <label for="">Amount</label>
        <input type="number" id='amount-input' name='amount' ><p id='dol'><i class='material-icons'>&#xe227;</i></p> <br>
    </div>

        <p id='pbtn' style='width: 200px; display: none'>Process Withdrawal</p>
        </div>

        <div id="withdrawal_pin" style='display: none'>
            <label for="">Enter Withdrawal Pin</label>
            <input type="text" name='pin' required><br>

            <input type="hidden" id='method' name='method'>

            <button type='submit'  name='submit'>Submit</button><br><br><br>
        <p id="error" style='display: none'></p>

       </div>

        <!-- <i style='font-size: 13px; color: dodgerblue; padding: 10px 0'><i class="fa fa-question-circle-o" style='font-size: 5px'></i> Deposit will appear in your account after payment is successfully made and approved by our team.</i><br><br><br><br> -->
    </form>
</div>



<script>
 var select_button = document.getElementById('select_button');
var bank = document.getElementById('bank');
var bitcoin = document.getElementById('bitcoin');
var ethereum = document.getElementById('ethereum');
var cashapp = document.getElementById('cashapp');
var paypal = document.getElementById('paypal');
var pbtn = document.getElementById('pbtn');
var list_content = document.getElementById('list_content');
var withdrawal_pin = document.getElementById('withdrawal_pin');
var amt = document.getElementById('amt');
var method = document.getElementById('method');
var amount_input = document.getElementById('amount-input')

// var bito = document.getElementById('bito');
// var etho = document.getElementById('etho');
var method = document.getElementById('method');
var icon = document.getElementById('icon');
var loader = document.getElementById('loader');


        bitcoin.style.display = 'none'
        ethereum.style.display = 'none'
        bank.style.display = 'none'
        cashapp.style.display = 'none'
        paypal.style.display = 'none'
        icon.style.display = 'none'

select_button.addEventListener('change', function () {
    loader.style.display = 'block'
    method.value = select_button.value
    setTimeout(() => {
        pbtn.style.display = 'block'
        if (select_button.value == 'bitcoin') {
        bitcoin.style.display = 'block'
        ethereum.style.display = 'none'
        bank.style.display = 'none'
        cashapp.style.display = 'none'
        paypal.style.display = 'none'
        loader.style.display = 'none'
        icon.style.display = 'block'
        icon.src = 'images/bitcoin.png'
        amt.style.display = 'block'
        method.value = select_button.value

    }else if (select_button.value == 'eth') {
        bitcoin.style.display = 'none'
        ethereum.style.display = 'block'
        bank.style.display = 'none'
        cashapp.style.display = 'none'
        paypal.style.display = 'none'
        loader.style.display = 'none'
        icon.style.display = 'block'
        icon.src = 'images/eth.png'
        amt.style.display = 'block'
        method.value = select_button.value

    }else if (select_button.value == 'bank') {
        bitcoin.style.display = 'none'
        ethereum.style.display = 'none'
        bank.style.display = 'block'
        cashapp.style.display = 'none'
        paypal.style.display = 'none'
        loader.style.display = 'none'
        icon.style.display = 'block'
        icon.src = 'images/bank.png'
        amt.style.display = 'block'
        method.value = select_button.value

    }else if (select_button.value == 'paypal') {
        bitcoin.style.display = 'none'
        ethereum.style.display = 'none'
        bank.style.display = 'none'
        cashapp.style.display = 'none'
        paypal.style.display = 'block'
        loader.style.display = 'none'
        icon.style.display = 'block'
        icon.src = 'images/paypal.html'
        amt.style.display = 'block'
        method.value = select_button.value

    }else if (select_button.value == 'cashapp') {
        bitcoin.style.display = 'none'
        ethereum.style.display = 'none'
        bank.style.display = 'none'
        cashapp.style.display = 'block'
        paypal.style.display = 'none'
        loader.style.display = 'none'
        icon.style.display = 'block'
        icon.src = 'images/cashapp.png'
        amt.style.display = 'block'
        method.value = select_button.value
    } 
    }, 5000);
})


pbtn.addEventListener('click', function () {
    if (amt.value == "" || select_button.value == '') {
        alert("input's cannot be empty")
    }else if (amount_input.value == "") {
        alert("input's cannot be empty")            
    } else {
        list_content.style.display = 'none'
        withdrawal_pin.style.display = 'block'

    }
})


</script>
<script>
var error = document.getElementById('error');

if (error.textContent == 'empty') {
     swal("ERROR!", "Input's cannot be empty!", "warning");
}else if (error.textContent == "insufficient") {
    swal("ERROR!", "Insufficient Funds", "warning");
}else if (error.textContent == 'minimum') {
    swal("ERROR!", "Minimum withdrawal is $1,000.00", "warning");        
}else if (error.textContent == 'pin') {
    swal("ERROR!", "Incorrect Withdrawal Pin", "warning");        
} else if (error.textContent == "success") {
    swal("SUCCESS!", "Your Withdrawal of $ is been processed. You will be notified when the withdrawal is completed", "success");        
    setTimeout(() => {
        window.location.href = 'trade-history.html'
    }, 3000);
}else if (error.textContent == "error") {
    swal("ERROR!", "Sorry an error occurred. Please try again later", "warning");        
}

</script>


<div id="mode" style='display: none'></div>
</div>

<div id="random_count" style='display: none'></div>


<script>

// get current btc rate
var btc = document.querySelectorAll('.btc')
for (let i = 0; i < btc.length; i++) {
    var url = 'https://blockchain.info/tobtc?currency=USD&amp;value='
    fetch(url)
        .then(response => response.json())
        .then(data => console.log(btc[i].textContent = data));
}
// get current btc rate end

// dark/light mode toggle
var mode = document.getElementById('mode');
if (mode.textContent == "light") {
    root.classList.add('dark-mode')
} else if (mode.textContent == "dark") {
    root.classList.remove('dark-mode')
}
// dark/light mode toggle end

var trade_button = document.querySelectorAll('.trade_button');
var trade_amount = document.getElementById('trade_amount');
var trade_pair = document.getElementById('trade_pair');
var trade_pair1 = document.getElementById('trade_pair_one');
var trade_pair2 = document.getElementById('trade_pair_two');
var trade_pair3 = document.getElementById('trade_pair_three');

var trade_pair_v1 = document.getElementById('trade_pair_one_v');
var trade_pair_v2 = document.getElementById('trade_pair_two_v');
var trade_pair_v3 = document.getElementById('trade_pair_three_v');

var account_type = document.getElementById('account_type');
var loader_img = document.getElementById('loader_img');
var random_count = document.getElementById('random_count');
var ac_item = document.getElementById('ac_item');
var ac_name = document.getElementById('ac_name');
var ac_price = document.getElementById('ac_price');
var type_exe = document.getElementById('type_exe');
var stop_loss = document.getElementById('stop_loss');
var take_profit = document.getElementById('take_profit');


var x = Math.random()*2;
var y = Math.floor(x);
random_count.textContent = y

account_type.addEventListener('change', function () {
    if (account_type.value == 'demo') {
        ac_item.style.display = 'block'
        ac_name.textContent = 'Demo Account'
        ac_price.textContent = '100,000.00'
        if (trade_pair1.value == "" && trade_pair2.value == "" && trade_pair3.value == "" && trade_amount.value == "") {
            swal("ERROR!", "Input's cannot be empty", "warning");
        }else {
            for (let i = 0; i < trade_button.length; i++) {
                trade_button[i].addEventListener('click', function () {
                    if (trade_amount.value == "") {
                        alert("Input's cannot be empty")
                    }else {
                        loader_img.style.display = 'block'
                    setTimeout(() => {
                        loader_img.style.display = 'none'
                        if (random_count.textContent == 0) {
                            swal("Trade Status!", "Trade Won", "success");  
                            setTimeout(() => {
                                window.location.href = 'index.html'
                            }, 3000);                              
                        }else {
                            swal("Trade Status!", "Trade Loss", "error");
                            setTimeout(() => {
                                window.location.href = 'index.html'
                            }, 3000);                              
                        }
                    }, 3000);

                    }
                })
            }
        }
    }else {
for (let i = 0; i < trade_button.length; i++) {
        ac_item.style.display = 'block'
        ac_name.textContent = 'Real Account'
        ac_price.textContent = '0.00'

    trade_button[i].addEventListener('click', function () {
        if (trade_pair1.value == "" && trade_pair2.value == "" && trade_pair3.value == "" && trade_amount.value == "") {
            swal("ERROR!", "Input's cannot be empty", "warning");
        } else {
            var xhr = new XMLHttpRequest();
            var data = new FormData();
            data.append('trade_pair', trade_pair.value)
            data.append('pair', trade_pair_one_v.value)
            data.append('pair2', trade_pair_two_v.value)
            data.append('pair3', trade_pair_three_v.value)
            data.append('trade_amount', trade_amount.value)
            data.append('trade_pair', trade_pair.value)
            data.append('type_exe', type_exe.value)
            data.append('stop_loss', stop_loss.value)
            data.append('take_profit', take_profit.value)
            xhr.onreadystatechange = function () {
                if (xhr.responseText == 'minimum') {
                    swal("INFO!", "Minimum Trade is 100 USD", "info");                        
                }else if (xhr.responseText == 'insufficient') {
                    swal("ERROR!", "Insufficient Balance", "warning");
                }else if (xhr.responseText == 'success') {
                    trade_button[i].disabled = true
                 swal("SUCCESS!", "Your Trade Request was successful", "success");
                 setTimeout(() => {
                     window.location.href = 'index.html'
                 }, 3000);
                }
            }
            xhr.open('POST.html', '../database/trade_script.html', true);
            xhr.send(data);
            // swal("INFO!", "Unable to complete trade at this time", "info");
        }
    })
    
    trade_pair.addEventListener('change', function () {
        if (trade_pair.value == 'cryptocurrency') {
            trade_pair1.style.display = 'block'
            trade_pair2.style.display = 'none'
            trade_pair3.style.display = 'none'
            for (let i = 0; i < trade_button.length; i++) {
                trade_button[i].addEventListener('click', function () {
                    if (trade_pair1.value == "" && trade_amount.value == "") {
                        swal("ERROR!", "Input's cannot be empty", "warning");
                    } 
                    else {
                        // swal("INFO!", "Unable to complete trade at this time", "info");
                    }
                })
            }
        } else if (trade_pair.value == 'stock') {
            trade_pair1.style.display = 'none'
            trade_pair2.style.display = 'block'
            trade_pair3.style.display = 'none'
        } else if (trade_pair.value == 'indices') {
            trade_pair1.style.display = 'none'
            trade_pair2.style.display = 'none'
            trade_pair3.style.display = 'block'
            }
        })
    }
}
})

</script>
</body>

</html>
    